NODE_ENV=development
JWT_SECRET=super-secret
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/zentro
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
ELASTICSEARCH_URL=http://elasticsearch:9200
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
